/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.vboxPrincipal {
    -fx-background-color: #84cc16;
    -fx-font-weight: bold;
}
.paneLateral {
    -fx-background-color: #436e2f80;
 }

.button
{
	-fx-background-color : #84cc16 ;
}
.button:hover
{
	-fx-background-color : #a6d95f ;
	-fx-cursor: hand;

}

.CerrarSesion:hover
{
    -fx-background-color: #FF0000;
    -fx-cursor: hand;
}